# My First NoteBook!
## Crazy stuff I know
This is so exiting, notebooks are so cool!

In [3]:
print("Hello World!")

Hello World!

In [4]:
import numpy as np
import pandas as pd

In [5]:
arr = np.array([
[2, 0, 0, ],
[0, 2, 0, ],
[0, 0, 2, ],
])

In [6]:
arr

array([[2, 0, 0],
       [0, 2, 0],
       [0, 0, 2]])

In [7]:
arr[2][2]

2

In [8]:
df = pd.read_csv( "Testing_Pandas.csv")

In [9]:
df

  Things      Cost
0  phone      $400
1  pizza       $20
2  chair      $100
3  house  $123,456